<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AkatokiEntities" connectionString="metadata=res://*/Data.Model1.csdl|res://*/Data.Model1.ssdl|res://*/Data.Model1.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\ueda\Documents\Visual Studio 2010\Projects\あかときっ(偽)\あかときっ(偽)\Data\Akatoki.db3&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>